body {
    background-color: #f7f7f7; /* светлый фон */
    font-family: Arial, sans-serif; /* красивый шрифт */
    text-align: center; /* центрируем весь текст */
    padding: 20px;
}

h1 {
    color: #222;
    font-size: 40px;
}

h2 {
    color: #444;
    margin-top: 10px;
}

ul {
    list-style: none; /* убираем точки */
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 20px;
}

img {
    margin-top: 20px;
    border-radius: 10px; /* скругляем углы */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #3c7df0;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #295ac7; /* эффект при наведении */
}
.card {
    max-width: 500px;      /* ширина блока */
    margin: 0 auto;        /* по центру */
    background: #ffffff;   /* белый фон блока */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* тень */
}

img {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;           /* чтобы картинка по ширине карточки */
    height: auto;
}
